<div class="card">
  <div class="card-header text-white bg-info">Editer un nouvel hotel</div>

    <div class="card-body">
      <form action="">
        <div class="form-group row mb-2">
          <label for="" class="col-md-2 col-form-label">Nom hotel</label>
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Nom(obligatoire)">
          </div>
        </div>

        <div class="form-group row mb-2">
          <label for="" class="col-md-2 col-form-label">Prix</label>
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Prix(obligatoire)">
          </div>
        </div>

        <div class="form-group row mb-2">
          <label for="" class="col-md-2 col-form-label">Evaluation (1-5)</label>
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="evaluation(1-5)">
          </div>
        </div>

        <div class="form-group row mb-2">
          <label for="description" class="col-md-2 col-form-label">Description</label>
          <div class="col-md-8">
            <!-- <textarea class="form-control" id="description" placeholder=""> -->
          </div>
        </div>

        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-4">
            <button class="btn btn-info " type="submit">sauvegarder</button>
            <button class="btn btn-outline-secondary mx-3" type="button">annuler</button>
            <button class="btn btn-outline-danger " type="button">supprimer</button>
          </div>
        </div>
      </form>
    </div>
</div>
