<div class="card">
  <div class="card-header text-white bg-info">{{pageTitle}}</div>

  <div class="card-body">
    <form novalidate (ngSubmit)="saveHotel()" [formGroup]="hotelForm" action="">
        <div class="form-group row mb-2">
          <label for="hotelNameId" class="col-md-2 col-form-label">Nom hotel</label>
          <div class="col-md-8">
            <input id="hotelNameId" type="text" class="form-control" placeholder="Nom(obligatoire)" formControlName="hotelName">
          </div>
        </div>

        <div class="form-group row mb-2">
          <label for="hotelPriceId" class="col-md-2 col-form-label">Prix</label>
          <div class="col-md-8">
            <input id="hotelPriceId" type="text" class="form-control" placeholder="Prix(obligatoire)" formControlName="hotelPrice">
          </div>
        </div>

        <div class="form-group row mb-2">
          <label for="starRatingId" class="col-md-2 col-form-label">Evaluation (1-5)</label>
          <div class="col-md-8">
            <input id="starRatingId" type="text" class="form-control" placeholder="evaluation(1-5)" formControlName="starRating">
          </div>
        </div>

        <div class="form-group row mb-2">
          <label for="description" class="col-md-2 col-form-label">Description</label>
          <div class="col-md-8">
            <textarea id="descriptionId" class="form-control" id="description" placeholder="" formControlName="description"></textarea>
          </div>
        </div>

        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-4">
            <button class="btn btn-info " type="submit">sauvegarder</button>
            <button class="btn btn-outline-secondary mx-3" type="button" routerLink="/hotels">annuler</button>
            <button class="btn btn-outline-danger " type="button">supprimer</button>
          </div>
        </div>
    </form>
  </div>
</div>

  <pre>
    {{ hotelForm.value | json }}
  </pre>
