
  <img src="" alt="">
  <h2 >{{ title }} </h2>
  <button class="btn btn-primary d-flex" (click)="toggleIsNewBadge()">
    <span class="material-icons">{{ showBadge ? "visibility_off" : "visibility" }}</span>
    <span>{{ showBadge ? 'Cacher' : "Afficher"}} Afficher </span>
  </button>
  <div class="">
    <div>
      <div>
        <span class="filter">Filtre actuel:</span>
        <b>{{ hotelFilter }}</b>
      </div>
      <div>
        <input type="text" class="" [(ngModel)]="hotelFilter">
        <!-- <input type="text" class="" [ngModel]="hotelFilter" (ngModelChange)="hotelFilter = $event "> -->
      </div>
    </div>
  </div>
  <div class="alert" *ngIf="!! receivedRating">{{ receivedRating}}</div>
  <h2>{{ titleHotel }}</h2>
  <section class="contentHotels">
    <div class="cartes-hotels" *ngFor= "let hotel of filteredHotels">
      <div class="contenerHotel">
        <img [src]="hotel.imageUrl" [title]="hotel.hotelName | uppercase" [alt]="hotel.hotelName" class="img-project">
        <h3>{{ hotel.hotelName }}</h3>
        <p>{{ hotel.description }}</p>

        <div class="d-flex justify-content-between align-items-baseline">
          <!-- <p class="card-text">{{ hotel.price | currency: "EUR":"symbol":"1.2-2":"fr"| replaceComma }}</p> -->
          <app-star-rating [rating]="hotel.rating" (starRatingClicked)="receiveRatingClicked($event)"></app-star-rating>
          <span class="material-icons bg-primary text-white p-2 rounded-circle " [routerLink]="['/hotels', hotel.id, 'edit']">
            edit
          </span>
          <span class="material-icons bg-info text-white p-2 rounded-circle " [routerLink]="['/hotels', hotel.id]">
            keyboard_arrow_right
          </span>
        </div>
        <ng-container *ngFor="let tag of hotel.tags; let i = index">
          <ng-container *ngIf="showBadge">
            <span class="badge span-vert" [ngClass]="i % 2 === 0 ? 'badge text-bg-info' : 'badge text-bg-success mx-2' ">{{tag}}</span>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </section>


